// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "colors";
@import "typography";
@import "layout";

body {
  padding-top: 72px;
}

.header {
  padding: 12px 0;
  background-color: rgba(black, 0.25);
  @include trailer(1);
  @include transition(top .5s); // multiple: comma-delimited
  position: fixed;
  top: 0;
  width: 100%;
}



.scroll-down {
  top: -100%;
}

.scroll-up {
  top: 0;
}




